<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
table {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}
body {
	background-color: #fff;
}
p {
	margin:0;
	padding:0
}
</style>
</head>
<body style="margin: 0pt; padding: 0pt; background-image: none; background-repeat: repeat; background-attachment: scroll; background-color:#FFF;">
<table style="border: 1px solid #e8e8e8; font:normal 12px Arial, Helvetica, sans-serif; color:#121b53; margin-top:10px;" align="center" border="0" cellpadding="0" cellspacing="0" width="589">
  <tbody>
    <tr>
      <td><div align="left"><img src="[[SITEROOT]]/templates/default/images/company_name.png" alt="" height="52" width="589"></div></td>
    </tr>
    <tr>
      <td style="padding:10px 14px; font:normal 12px Arial, Helvetica, sans-serif; color:#121b53; line-height:18px; vertical-align:top; background-color:#fff" bgcolor="#fff">[[BODY]]</td>
    </tr>
    <tr>
      <td class="style4" style="padding:10px 0pt; color:#000; font-size:12px; border-top:1px solid #e8e8e8" align="center"> [[COPYRIGHT]]</td>
    </tr>
  </tbody>
</table>
</body>
</html>